<label>Context {{#if altContext}}<span class="context-switch"><a href="#" data-role="switch">(switch)</a></span>{{/if}}</label>
<textarea class="code-area block" data-role="context">{{#if contextToggled}}{{altContext}}{{else}}{{context}}{{/if}}</textarea>