{{>nav}}

<div class="left col">
    <div class="template">{{>code-area-template}}</div>
    <div class="context">{{>code-area-context}}</div>
</div>

<div class="right col">
    <div data-role="result"></div>
</div>

<footer><p>Developer by <a href="http://www.sarah-hayman.com/cv">Sarah Hayman</a></p></footer>